ProcessAppMobile/ProcessAppMobile.Android/Web References/WS_Process/ServiceProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usu" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DashBoard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rut" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="rut_empresa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DashBoardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DashBoardResult" type="tns:ArrayOfDashboardGen" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDashboardGen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DashboardGen" nillable="true" type="tns:DashboardGen" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DashboardGen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_UNIDAD" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID_TAREA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NOMBRE_TAREA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_TERMINO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FECHACREACION" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_ACTUAL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FECHA_ESTIMADA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ESTADO" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rut_Usu" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Tareas_ter" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Cant_tareas_tot" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="procentaje" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="nombre_usurio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ATRASO" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="listgen" type="tns:ArrayOfDashboardGen" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="DashBoardSoapIn">
    <wsdl:part name="parameters" element="tns:DashBoard" />
  </wsdl:message>
  <wsdl:message name="DashBoardSoapOut">
    <wsdl:part name="parameters" element="tns:DashBoardResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceProcessSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DashBoard">
      <wsdl:input message="tns:DashBoardSoapIn" />
      <wsdl:output message="tns:DashBoardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceProcessSoap" type="tns:ServiceProcessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DashBoard">
      <soap:operation soapAction="http://tempuri.org/DashBoard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceProcessSoap12" type="tns:ServiceProcessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DashBoard">
      <soap12:operation soapAction="http://tempuri.org/DashBoard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceProcess">
    <wsdl:port name="ServiceProcessSoap" binding="tns:ServiceProcessSoap">
      <soap:address location="http://localhost/LocalWs/ServiceProcess.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceProcessSoap12" binding="tns:ServiceProcessSoap12">
      <soap12:address location="http://localhost/LocalWs/ServiceProcess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>